---
interface Props {
    titulo: string;
    tituloDos: string;
    elementos: string[];
    tituloTres: string;
    elementosDos: string[];
    tituloCuatro: string;
    elementosTres: string[];    
    imagenUrl?: string;
}

const { titulo, tituloDos, elementos, tituloTres, elementosDos, tituloCuatro, elementosTres, imagenUrl } = Astro.props;
---

<div>
    <h2 class="text-black">{titulo}</h2>
    <h3 class="text-black">{tituloDos}</h3>
    <ul class="text-black">
        {elementos.map(item => (
            <li>{item}</li>
        ))}
    </ul>
    <h3 class="text-black">{tituloTres}</h3>
    <ul class="text-black">
        {elementosDos.map(item => (
            <li>{item}</li>
        ))}
    </ul>
    <h3 class="text-black">{tituloCuatro}</h3>
    <ul class="text-black">
        {elementosTres.map(item => (
            <li>{item}</li>
        ))}
    {imagenUrl && <img src={imagenUrl} alt={titulo} />}
</div>